# Byte-compiled / optimized / DLL files
__pycache__

# Ignora la carpeta node_modules
node_modules

# Ignora todos los archivos de texto
*.txt

## Environments
venv

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache